    {% extends 'users/base.html' %}
    {% block conteudo %}

     <form action="{% url 'listagem_users'%}" method="post">
        {% csrf_token %}
        <div style="text-align: center" class="container">
            <h1>Cadastro de Usuários</h1>
            <div style="display: flex; flex-direction: column; align-items: center;">
              <div style="display: flex; margin-bottom: 10px;">
                <label style="margin-right: 9px;">Nome</label>
                <input name="nome" type="text" style="width: 250px">
              </div>
              <div style="display: flex; margin-bottom: 10px;">
                <label style="margin-right: 10px;">Idade</label>
                <input name="idade" type="text" style="width: 250px">
              </div>
              <div style="display: flex; margin-bottom: 10px;">
                <label style="margin-right: 10px;">Email</label>
                <input name="email" type="text" style="width: 250px">
              </div>
              <button style="width: 100px; height: 35px; color: white; background-color: black">Enviar</button>
            </div>
          </div>
      </form>
    {% endblock %}